.donate-page {
  background: linear-gradient(to bottom, #f2f2f2, #ffffff);
  height: 90vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 30px;
}

.donate-page .donate-title h1 {
  font-size: 50px;
  font-weight: 500;
  margin: 0;
  padding: 30px;
}

.donate-page .donate-content {
  width: 80%;
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
  padding: 20px;
  column-rule-width: 1px;
}

.donate-content p {
  font-size: 1rem;
  line-height: 1.2;
}

.donate-button button {
  display: block;
  align-items: center;
  width: 120px;
  height: 50px;
  outline: none;
  border: 1px solid #e3e0e0;
  border-radius: 75px;
  color: #f1efef;
  font-size: 16px;
  font-weight: 500;
  background: #ff4141;
  cursor: pointer;
  text-decoration: none;
  margin-top: 50px;
}

.donate-button button:active {
  background: rgb(222, 222, 246);
  transition-duration: 0, 5s;
}
