nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: #4d7a96;
}

.navbar {
  position: sticky;
  top: 0px;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

.nav-links {
  list-style-type: none;
  margin: 15px;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 40px;
  cursor: pointer;
}

.nav-links hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  float: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  text-align: left;
  color: #616161;
  float: none;
  padding: 12px 16px;
  cursor: pointer;
  text-decoration: none;
}
.dropdown-content a:hover {
  border-bottom: 2px solid #f9f9f9;
  text-decoration: none;
  color: #4d7a96;
}

.right-section {
  display: flex;
  align-items: center;
}

.login-section {
  margin-right: 20px;
}

.login-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.login-section:hover .login-dropdown-content {
  display: block;
}

.nav-login button {
  display: block;
  align-items: center;
  width: 120px;
  height: 50px;
  outline: none;
  border: 1px solid #f1efef;
  border-radius: 75px;
  color: #515151;
  font-size: 16px;
  font-weight: 500;
  background: white;
  cursor: pointer;
  text-decoration: none;
}

.nav-login button:active {
  background: rgb(222, 222, 246);
  transition-duration: 0, 5s;
}

.nav-links {
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .right-section {
    margin-right: 10px;
  }
}
