.popular {
  display: block;
  margin: 30px auto;
  width: 90%;
}

.popular h2 {
  color: #171717;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.popular hr {
  width: 200px;
  border-radius: 10px;
  background: #252525;
  align-items: center;
  margin-bottom: 80px;
}
.popular .popular-tutor {
  display: flex;
  padding-left: 70px;
}
